.featured {
    background: rgb(204, 211, 133);
    background: linear-gradient(180deg, rgba(204, 211, 133, 0.5) 0%, rgba(204, 211, 133, 0.5) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.card img {
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    border-radius: 6px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    justify-content: space-between;
}

.card button {
    box-shadow: 0 2px 4px 0 rgba(109, 23, 80, 0.51);
    border-radius: 6px;
    font-size: 16px;
    color: #021B02;
}

.card span {
    display: flex;
    justify-content: space-between;
}

.card h3 {
    font-size: 20px;
}

.card p {
    font-size: 16px;
}




.product img {
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.50);
    flex: 1 0 45%;
}

.productDesc p {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 18px;
}



.productInfo div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}